/.hydra
/__pycache__
/a2d2_random_selection.p
/bus-run4.out
/bus-run5.out
/bus_run1.out
/bus_run2.out
/bus_run3.out
/bus_run6.out
/cluster.out
/cs_human_metaseg.out
/embed.out
/exp5_2.out
/extend_cs.py
/main.log
/metaseg_14_classes.out
/metaseg_main.log
/nohup.out
/outputs
/predict_a2d2.py
/psp.out
/psp_1.out
/psp_2.out
/psp_3.out
/psp_4.out
/run.sh